* {
  background-color: black;
}

header img {
  height: 100px;
  margin-left: 50px;
}

h2 {
  color: white;
  font-size: 22px;
  margin: 30px 0 30px 50px;
}

section div {
  margin-left: 50px;
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
}

section div::-webkit-scrollbar {
  display: none;
}

div img {
  height: 150px;
  margin-right: 10px;
}

div img:hover {
  cursor: pointer;
}
